
body{
    margin: 0;

}
.navBar{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(75, 71, 71); 
    /* margin-bottom: 0.3cm; */
}

.navBar li{
    display: inline-block;
    float: right;
    margin: 30px;
    position: relative;
}   
.navBar a{
    text-decoration: none;
}
body{

    background-color: rgb(0, 0, 0);
}
#logo {
    height: 35px;
    width: 160px;
}
#logoInNavBar{
    margin: 10px;
    float: left;    
    padding-left: 3cm;
    padding-top: 10px;
    padding-bottom: 10px;

}
.navBarLinks{
    color: white;
}
span {
    color: white;
}
h1 , p{
    text-align: right;
    margin: 3cm;
}
h1{
    font-size: 60px;
}
.intro{
 
    background-image: url('/Users/sadeghofoghi/Desktop/peranix site design by me/background page 1.jpeg') ;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 2.5cm;
    display: block;
    margin-bottom: 7cm;
  
}
.loginButton{
    font-size: xx-large;
    border: 0.5cm;
    margin: 1cm;
    background-color: red;
    padding: 0.3cm;

}
.navBar ul {
    margin-top: 0px;
    margin-right: 7cm;
    list-style: none;
}
.navBar .navBarLinks:hover {
    color: red;
}
.navBar .navBarLinks::before{
    content: '';
    display: block;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 20px;
    width: 0%;
}
.navBar .navBarLinks:hover::before{
    width: 100%;
}
h2{
    text-align: center;
}
hr{
    width:30%;
    margin-top: 1cm;    
    border-color: red;
}
.pes21photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#signInButtonInNavBar{
    color: white; 
    float: right; 
    /* margin-top: 25px; */
    margin-right: 40px; 
    background-color: red;
    padding:30px; 
    padding-left: 40px;
    padding-right: 40px;

}
#loginButton{
    background-color: white;
    color: red;
}
#signUpButton{
    background-color: red;
    color: white;
}
.loginButton{
    border: 5px;
    padding-top: 0.3cm;
    padding-bottom: 0.3cm;
    padding-left: 1.3cm;
    padding-right: 1.3cm;
    font-size: 20px;
}
.intro a{
    text-decoration: none;
}
.gameStartButton {
    background-color: red;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    margin-left: 17cm;
    margin-right: 17cm;
}

